.navbar {
    background-color: #f0f0f0;;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    justify-content: flex-end !important;
   

    .navbar-brand {
      display: flex !important;
      width: 100%;
    }

    .navbar-menu {
      .button.is-light {
        width: 100%!important;
        margin-top: 10px;
      }
    }
  }
}
